@tailwind base;
@tailwind components;
@tailwind utilities;

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clip-paralelogram {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    object-fit: cover;
}